body {
    background-color: rgb(221, 221, 221)
}

button {
    margin:20px;
}

.jumbotron {
    margin:20px;
    padding: 25px;
    /* background-color: rgb(125, 214, 255); */
    font-family: 'Bangers', cursive;
    letter-spacing: 4px;
}

.navbar {
    background-color: rgb(253, 194, 56);
    font-weight: bold;

}

.lead {
    margin-left: 25px;
}