body {
    background-color: rgb(221, 221, 221)
}

button {
    margin:20px;
}

.jumbotron {
    margin:20px;
    padding: 25px;
    height: 675px;
    font-family: 'Bangers', cursive;
    color: white;
    letter-spacing: 4px;
    background-image: url('/images/cabin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    text-shadow: -5px 5px #181717;
    
}

.navbar {
    background-color: rgb(253, 194, 56);
    font-weight: bold;

}

.lead {
    margin-left: 25px;
}

img {
    opacity: 0.5;
}

footer {
    height: 300px;
}