<div class = "container">
<h1>RENTALS</h1>
<table class = "table">
    
<thead>
    <tr>
        <th>Listing Id</th>
        <th>Rent per year</th>
        <th>Square Footage</th>
        <th>Location</th>
    </tr>
</thead>
    <tbody>
        <tr ng-repeat="rent in vm.rent.list">
            <td> {{rent._id}} </td>
            <td> {{rent.rent}} </td>
            <td> {{rent.sqft}} </td>
            <td> {{rent.city}} </td>
            <td><button ng-click="vm.deleteRental(vm.rent)">Delete</button></td>    
        </tr>   

    </tbody>
</table>
</div>